*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    
}

/*navbar*/


.link:hover {
    color: #EDA8D0;
}

/* Highlight active section title */
.active {
    color: #EDA8D0;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #FAEAF4;
    z-index: 9;
}

.navbar-left {
    display: flex;
    align-items: center; /* Align items vertically center */
}

.logo {
    margin-right: 10px; /* Add spacing between logo and text */
    
}
.logo-image {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}



.links-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar .link-item:hover .link {
    color: #EDA8D0; /* Change color on hover */ 
}
.link-item {
    margin-right: 10px; /* Adjust spacing between link items */
}

.link-item:last-child {
    margin-right: 0; /* Remove right margin for the last link item */
}

.link {
    text-decoration: none;
    color: #000;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .link-item {
    margin-left: 10px; /* Adjust spacing between link items */
}

.navbar-right .link-item:first-child {
    margin-left: 0; /* Remove left margin for the first link item */
}

.navbar-right .link {
    text-decoration: none;
    color: #000;
}

button {
    border: 2px solid #F2CCE4;
    background-color: #F2CCE4;
    border-radius: 0.9em;
    padding: 0.2em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    vertical-align: middle;
   }
   
   button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   button:hover {
    background-color: #EDA8D0;
   }
   .navbar .link-item:hover .link {
    color: #EDA8D0; /* Change color on hover */ 
}
.nav-link.active,
.nav-link:hover {
    color: #EDA8D0; /* Change the color as needed */
    /* Add any other styling you want for the active/hover state */
}
.nav-link.active {
    color: #EDA8D0; /* Change to the desired hover color */
  }

/* Highlight active section title */
.active {
    color: #EDA8D0;
}

/* Apply hover effect to navbar links */
.link:hover {
    color: #EDA8D0;
}
   
/*header*/

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(80vh - 60px);
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.content{
    text-align: center;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.card-image{
    position: relative;
    height: 150p;
}


/* Popup Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/*crochet of the day pattern with carosel*/
/* Featured Section Styles */
.featured-section {
    width: 100%;
    padding: 50px 5vw;
    overflow-x: hidden;
    position: relative;
    
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.5s;
    max-width: 600px;
    margin: 0 auto;
}

.blog-card {
    width: 250px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    background: #FAEAF4;
    border-radius: 20px; /* Rounded corners */
}

.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px; /* Rounded corners for the top */
    margin-bottom: 10px;
}

.blog-overview {
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn.dark {
    background: #F2CCE4;
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure the button is displayed as a block element */
}

.btn:hover{
    background-color: #EDA8D0;
}

/* Previous & Next Button Styles */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    background-color: #F2CCE4; /* Background color with opacity */
}

.prev {
    left: 0; /* Position previous button on the left edge */
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0; /* Position next button on the right edge */
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #EDA8D0; /* Darker background color on hover */
}


/* patterns section TBD*/
/* Filter menu */
.patterns-section {
    text-align: center;
    position: relative;
    
}

.patterns-title {
    margin-top: 0;
}

/* Filter button */
#filter-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#filter-button:hover {
    background-color: #0056b3;
}

.filter-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}



/* Pattern grid */
.pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Adjust as needed */
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Pattern card styles */


/* Pattern image */
.pattern-image {
    width: 100%; /* Adjusted width to take up 1/3 of the container */
    height: auto; /* Adjusted height for aspect ratio preservation */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Pattern details */
.pattern-details {
    text-align: center;
}


/* Pattern card styles */
.pattern-card {
    background-color: #FAEAF4; /* Light pink background */
    border: 1px solid #E6B1D2; /* Light pink border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: calc(60% - 20px); /* Adjust width for 3 cards per row */
    margin-bottom: 30px;
    text-align: center; /* Align content to the left */
}

/* Pattern card hover effect */
.pattern-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darken shadow on hover */
}

/* Pattern title */
.pattern-title {
    font-size: 18px; /* Adjust font size */
    color: #4F4A4A; /* Dark gray text color */
    margin-bottom: 5px;
}

/* Pattern description */
.pattern-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

/* Pattern tags */
.pattern-tags .tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #F2CCE4; /* Light pink tag background */
    color: #4F4A4A; /* Dark gray tag text color */
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}

/* Pattern link */
.pattern-link {
    display: inline-block;
    background-color: #EDA8D0; /* Dark pink button background */
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.pattern-link:hover {
    background-color: #D280B8; /* Darken button background on hover */
}


/* Pagination */
.pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -15px; /* Adjust spacing from the bottom */
}


/* Page toggle */
.page-toggle {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Active page toggle */
.page-toggle.active {
    background-color: #333;
    color: #fff;
}

/*about section*/
.about-section {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .lead {
    font-size: 1.2rem;
    color: #555;
  }
  
  .form {
    margin-top: 30px;
  }
  
  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #F2CCE4;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #F2CCE4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #EDA8D0;
  }

  /*footer*/

.footer {
    background-color: #FAEAF4; /* Set background color */
    padding: 20px 0; /* Adjust padding as needed */
}

.container {
    max-width: 1140px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container */
}

